

      <header>
          <div id="back" class="view" style="background-image: url('https://facebook.github.io/react/logo-og.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
            <div class="mask rgba-black-light align-items-center">
              <div class="container">
                <div class="row">
                  <div class="col-md-12 mb-4 white-text text-center wk1">
                    <h1 data-wow-delay="0.3s"><span>JUNGLE APPS <br> GIT-SEARCH</span></h1>
                    <p class="" data-wow-delay="1s"><strong>This App <br> <br> Helps You Search and find git users <br> <br> and their profiles</strong></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>

            <app-display></app-display>

            <marquee behavior="" direction="right">
                <footer class="page-footer font-small elegant-color">

              
              <div class="footer-copyright text-center py-3">A product of JungleApps © 2019 Copyright:
              </div>
              

            </footer>
              </marquee>
            
            
            
